$border-width: 3px;

@mixin withNormalBorder {
   border-left: $border-width #FFF solid;
   border-top: $border-width #FFF solid;
   border-right: $border-width rgb(127, 127, 127) solid;
   border-bottom: $border-width rgb(127, 127, 127) solid;
}

@mixin withActiveBorder {
   border-left: $border-width rgb(127, 127, 127) solid;
   border-top: $border-width rgb(127, 127, 127) solid;
   border-right: $border-width #FFF solid;
   border-bottom: $border-width #FFF solid;
}

.block {
   display: flex;
   width: 20px;
   height: 20px;

   background-position: center center;
   background-repeat: no-repeat;
   background-color: rgb(192, 192, 192);
   background-size: calc(20px - 1px);


   justify-content: center;
   font-weight: bold;
   font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

   &.opened {
	  border: 1px #808080 solid;
	  padding: 3px;
   }

   &.destroyed {
	  background-image: url('../../icons/mine3.png');
	  background-color: #fe1300;
   }

   &.closed {
	  padding: 1px;
	  @include withNormalBorder;

	  &:active {
		 @include withActiveBorder;
	  }

	  &.marked {
		 @include withNormalBorder;
	  }
   }

   &.marked {
	  background-image: url('../../icons/flag.png');

	  &.closeToMine {
		 background-image: url('../../icons/flag-wrong.png');
		 font-size: 0;
	  }
   }


   &.mine {
	  background-image: url('../../icons/mine.png');
   }

   &.zero {
	  color: transparent;
   }

   &.one {
	  color: #012cfe;
   }

   &.two {
	  color: #017f01;
   }

   &.three {
	  color: #fe1300;
   }

   &.four {
	  color: #01117f;
   }

   &.five {
	  color: #810502;
   }

   &.six {
	  color: #008081;
   }

   &.seven {
	  color: #000;
   }

   &.eight {
	  color: #808080;
   }
}
