.counter {
   $bdw: 1px;
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 30px;
   height: 56px;
   padding: 4px;
   font-size: 55px;
   color: #f21100;
   font-family: 'digit', monospaced, serif;
   background-color: #000000;
   border-top: $bdw rgb(127, 127, 127) solid;
   border-left: $bdw rgb(127, 127, 127) solid;
   border-bottom: $bdw #FFF solid;
   border-right: $bdw #FFF solid;
}
